.container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.registerButton {
  background-color: #8257e6;
  width: 400px;
  height: 75px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #fafafe;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 40px;
}

/*Modal Styles */
.modal {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

}


.modal-container {
  width: 30%;
  height: 75%;
  display: flex;
  justify-content: center;
  background-color: #fafafe;
  align-items: center;
}
